
<% permalink = config.url + config.root + post.path %>
<main class="content" role="main">
  <nav class="pagination" role="pagination">
    <a class="static-pages-link" href="/2017/04/24/about-theoroy/">About Theoroy</a>
    <a class="static-pages-link" href="/">Recent Posts</a>
    <a class="static-pages-link" href="/2017/04/27/projects/">Projects</a>
    <a class="static-pages-link" href="/2017/04/27/research-development/">Research/Development</a>
  </nav>
  <article class="post">
    <%- partial('post/meta') %>
    <h1 class="post-title"><%- post.title %></h1>
    <section class="post-content">
      <%- post.content %>
    </section>
    <footer class="post-footer">
      <%- partial('post/author') %>
      <%- partial('post/share') %>
    </footer>
  </article>
  <%- partial('post/navigation') %>
  <%- partial('post/comments') %>
</main>
